body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/pics/dog.jpg");
    background-size: cover;
}
.background-blur {
    position: absolute;
    backdrop-filter: blur(6px);
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 1;
}

/* Login layout */

.login-layout {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    padding: 20px;
    background-color: blue;
    border-radius: 40px;
    box-shadow: 10px 10px;
    z-index: 2;

    animation: loaded 6s ease-in-out;
}
@keyframes loaded {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}
.layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layout input {
    border-radius: 15px;
    width: 80%;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
}
.layout label {
    position: absolute;
    transform: translateX(-140%);
    background-color: white;
    pointer-events: none;
    border-radius: 5px;

    transition: transform 0.2s ease;
}
.layout input:focus+label, .layout input:valid+label {
    transform: translateY(-70%) translateX(-150%) scale(0.75);
}
.layout .btn {
    margin: 10px;
    padding: 5px;
    border: 1px solid;
    border-radius: 15px;
    box-shadow: 3px 3px;
    transition: box-shadow 0.1s ease-in-out;
}
.layout .btn:active {
    box-shadow: 0px 0px;
    transform: translateX(-1%) translateY(-1%);
}

/* loading layout */

.container {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 0;
    z-index: 3;
    pointer-events: none;

    animation: fadeIn 5s ease-out;
}
@keyframes fadeIn {
    0%, 60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.container .box {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: 3px solid red;

    animation: rotation 2s infinite linear;
}
.container .box::before {
    content: "";
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    border-radius: 50%;
    border-top: 3px solid cyan;
    animation: rotation 2s infinite linear;
}
.container .box::after {
    content: "";
    position: absolute;
    top: 9px;
    bottom: 9px;
    left: 9px;
    right: 9px;
    border-radius: 50%;
    border-top: 3px solid violet;

    animation: rotation 1s infinite linear;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

/* sidemenu layout */

.open-btn {
    position: absolute;
    width: 70px;
    height: 30px;
    top: 0;
    right: 0;
    color: white;
    border-radius: 20px;
    border: 2px solid rgba(0, 64, 142, 0.828);
    z-index: 3;
}
.open-btn label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    background-color: black;
    opacity: 0;
    z-index: 3;

    transition: opacity 0.2s ease-in-out;
}
.side-menu {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;

    transform: translateX(100%);
    transition: transform 0.2s ease-out;
}
#menu-toggle:checked ~ .side-menu {
    transform: translateX(0%);
}
#menu-toggle:checked ~ #overlay {
    opacity: 0.7;
    pointer-events: auto;
}